*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Inter",sans-serif;
    background:linear-gradient(135deg,#eef2ff,#f8fafc);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.container{
    width:100%;
    max-width:700px;
    background:white;
    border-radius:24px;
    padding:40px;
    box-shadow:0 20px 60px rgba(0,0,0,.12);
}

h1{
    text-align:center;
    font-size:38px;
    margin-bottom:30px;
}

.passwordBox{
    display:flex;
    gap:12px;
    margin-bottom:25px;
}

.passwordBox input{
    flex:1;
    padding:16px;
    font-size:18px;
    border:2px solid #ddd;
    border-radius:14px;
    font-family:Consolas,monospace;
}

.lengthSection{
    margin-bottom:25px;
}

.lengthSection label{
    display:flex;
    justify-content:space-between;
    font-weight:600;
    margin-bottom:10px;
}

input[type="range"]{
    width:100%;
    cursor:pointer;
}

.options{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:14px;
    margin-bottom:25px;
}

.options label{
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:500;
}

.strength{
    width:100%;
    height:12px;
    background:#e5e7eb;
    border-radius:999px;
    overflow:hidden;
    margin-bottom:10px;
}

#strengthBar{
    width:0%;
    height:100%;
    background:#22c55e;
    transition:all .3s ease;
}

#strengthText{
    text-align:center;
    font-weight:600;
    margin-bottom:25px;
}

button{
    background:#4f46e5;
    color:white;
    border:none;
    border-radius:14px;
    padding:16px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.2s;
}

button:hover{
    transform:translateY(-2px);
}

#generate{
    width:100%;
}

#copy{
    width:60px;
    flex-shrink:0;
}

h2{
    margin:35px 0 15px;
}

#history{
    list-style:none;
}

#history li{
    background:#f8fafc;
    border-radius:10px;
    padding:12px;
    margin-bottom:10px;
    font-family:Consolas,monospace;
    word-break:break-all;
}
.backButton{
    display:inline-block;
    margin-bottom:25px;
    color:#4f46e5;
    text-decoration:none;
    font-weight:700;
    transition:.25s;
}

.backButton:hover{
    opacity:.7;
}

.description{
    color:#666;
    font-size:18px;
    margin:20px 0 35px;
    line-height:1.7;
}

.info{
    margin-top:60px;
    padding-top:40px;
    border-top:2px solid #eee;
}

.info h2{
    margin:35px 0 15px;
    color:#4f46e5;
    font-size:28px;
}

.info p{
    color:#555;
    line-height:1.8;
    font-size:17px;
}